{% extends 'base.html' %}
{% load static %}

{% block title %}User Home{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'firstApp/portfolioHome.css' %}">
{% endblock %}

{% block content %}
<div class="notifications mt-5">
  <div class="row g-3">
    <!-- First Div -->
      <div class="col-md-10 col-12 p-3 graphContainer">
        {% autoescape off %}
            {{ plot_div }}
        {% endautoescape %}
      </div>
    
    <div class="col-md-2 col-12 p-3 sideLists">
        <div class="watchList mb-3">
            <ul class="stock-list">
                {% for stock in stocks %}
                <li class="stock-item" data-stock-name="{{ stock.name }}">
                    <img src="{% static 'firstApp/images/' %}{{ stock.name }}.png" alt="{{ stock.name }} Logo" class="stock-logo">
                    <span class="stock-name">{{ stock.name }}</span>
                    <span class="stock-price">{{ stock.currency }}{{ stock.price }}</span>
                    {% if stock.is_profitable %}
                        <span class="stock-arrow stock-up">&#9650;</span>
                    {% else %}
                        <span class="stock-arrow stock-down">&#9660;</span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    
        <div class="predictionList">
          <h5>Prediction Models</h5>
          <ul class="model-list">
              <!-- Models will be dynamically added here -->
          </ul>
      </div>
    </div>
  
    </div>

  <div class="row g-3">
      <div class="news">

      </div>
  </div>
</div>

<h3 class="dividerHeaders">Daily Stock Prices</h3>

<div class="dailyStockTable mt-5">
  <div class="row g-3 stockValues">
    <div class="col-md-12 tableContent">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Open</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Closing Price</th>
            <th scope="col">Volume</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<h3 class="dividerHeaders">Stock Recommendations & Sentiment</h3>

<div class="row analystRecommendations">
  <!-- First table column -->
  <div class="col-md-4 recommendationValues">
    <h3>Analyst Recommendations</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Number of Analysts</th>
          <th scope="col">Strong Buy</th>
          <th scope="col">Buy</th>
          <th scope="col">Hold</th>
          <th scope="col">Sell</th>
          <th scope="col">Strong Sell</th>
        </tr>
      </thead>
      <tbody>
        <!-- Rows go here -->
      </tbody>
    </table>
  </div>

  <div class="col-md-4 priceTarget">
    <h3>Price Target</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Low</th>
          <th scope="col">High</th>
          <th scope="col">Mean</th>
          <th scope="col">Median</th>
          <th scope="col">Current</th>
        </tr>
      </thead>
      <tbody>
        <!-- Rows go here -->
      </tbody>
    </table>
  </div>

  <div class="col-md-4 Ratings">
    <h3>Agency Ratings</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Firm</th>
          <th scope="col">Previous Grade</th>
          <th scope="col">New Grade</th>
          <th scope="col">Outlook</th>
        </tr>
      </thead>
      <tbody>
        <!-- Rows go here -->
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block extra_js %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{% static 'javascript/portfolio.js' %}"></script>
{% endblock %}
