{% extends 'base.html' %}
{% load static %}

{% block title %}User Home{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'firstApp/portfolioHome.css' %}">
{% endblock %}

{% block content %}
<div class="notifications mt-5">
  <div class="row g-3">
    <!-- First Div -->
      <div class="col-md-10 col-12 p-3 graphContainer">
        {% autoescape off %}
            {{ plot_div }}
        {% endautoescape %}
      </div>

      <div class="col-md-2 col-12 p-3 watchList">
        <ul class="stock-list">
            {% for stock in stocks %}
            <li class="stock-item" data-stock-name="{{ stock.name }}">
                <img src="{% static 'firstApp/images/' %}{{ stock.name }}.png" alt="{{ stock.name }} Logo" class="stock-logo">
                <span class="stock-name">{{ stock.name }}</span>
                <span class="stock-price">{{ stock.currency }}{{ stock.price }}</span>
                {% if stock.is_profitable %}
                    <span class="stock-arrow stock-up">&#9650;</span>
                {% else %}
                    <span class="stock-arrow stock-down">&#9660;</span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
      </div>
    </div>

  <div class="row g-3">
      <div class="news">

      </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{% static 'javascript/portfolio.js' %}"></script>
{% endblock %}
