h2 {
    text-align: center;
}

figcaption {
    color: white;
    text-align: center;
}

.container {
    margin-top: 100px;
}

.imageContainer {
    padding: 15px;
}

.textContainer {
    padding: 15px;
    border-radius: 15px;
    background-color: gray;
}
