h2 {
    text-align: center;
}

figcaption {
    color: white;
    text-align: center;
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.imageContainer {
    padding: 15px;
}

.textContainer {
    padding: 15px;
    border-radius: 15px;
    background-color: gray;
}

.icon-container {
    display: flex;
    align-items: center; /* Adjusts vertical alignment */
    gap: 0; /* Removes any gap between images */
}

#linkedinButton, #gitHubButton {
    display: inline-block;
    width: 15%;
    border-radius: 15%;
}
