.notifications {
    margin: 10px 10% 10px 10%;
    padding: 1rem;

    border-radius: 10px;
    
    background-color: rgb(65, 65, 65);
}

.graphContainer, .watchList {
    height: 60vh;
    overflow: scroll;

    background-color: white;
    
    border-radius: 10px;
    border: 1px solid black;
}

.news {
    padding: 10px;
    height: 20vh;

    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
}

.stock-list {
    list-style: none;
    padding: 0;
}

.stock-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.stock-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.stock-name {
    flex-grow: 1;
    color: black;
}

.stock-arrow {
    font-size: 1.2rem;
    font-weight: bold;
}

.stock-up {
    color: green;
}

.stock-down {
    color: red;
}
